{% extends "_base.html.twig" %}
{% block title %}terms - ⛳ PHPer Code Golf by pixiv{% endblock %}
{% block content %}
	<h1><a href="{{route('index')}}">⛳</a> PHPer Code Golf by pixiv</h1>
	<h2 id="about"><a href="{{ route('index') }}">#ゴルフ場</a> について</h2>
	<p>このサイトは<a href="https://phperkaigi.jp/2020/">PHPerKaigi 2020</a>開催期間中(<time datetime="2020-02-09T16:30:00+09:00">2020年2月9日</time>〜<time datetime="2020-02-11T23:59:00+09:00">2020年2月11日</time>)に参加者のチャレンジ企画として設置されたものです。開催終了日以降の稼動は保証しません。</p>
	<h2 id="terms">利用規約</h2>
	<ol>
		<li>「PHPer Code Golf by pixiv」(以下「当サイト」といいます)はPHPerKaigi 2020 実行委員会(以下「運営者」といいます)が運営するWebサイトです。</li>
		<li>当サイトの利用規約に同意したユーザー(以下「参加者」といいます)は当サイトを利用することができます。</li>
		<li>当サイトに投稿されたソースコードの著作権は参加者自身に帰属します。</li>
		<li>参加者は<a href="https://phperkaigi.jp/coc.html">PHPerKaigi 行動規範</a>に同意しなければなりません。</li>
		<li>参加者は故意に他の参加者のforteeアカウントを設定して参加登録してはいけません。また、他の特定の参加者になりすまし錯誤させることを目的としたユーザー名を設定してはいけません。</li>
		<li>参加者は以下のコンテンツを投稿してはいけません。
			<ol>
				<li>行動規範に反し、他者への経緯または礼儀を欠いた内容</li>
				<li>他者の権利やプライバシーを侵害する、またはその名誉もしくは信用を毀損する内容</li>
				<li>当サイトまたは他の参加者のコンピュータに過剰な負荷を掛けることを目的とした内容</li>
			</ol>
		</li>
		<li>運営者はいつでも事前の予告なく当サイトのコンテンツの内容を変更し、当サイトの提供を停止・終了することができます。</li>
		<li>運営者は当サイトに負荷を掛けると判断した参加者またはIPアドレスの単位でアクセスをブロックすることがあります。</li>
		<li>運営者は当サイトに投稿したデータ・ソースコードの保全について一切保証しません。</li>
		<li>参加者が投稿したソースコードのスコアはハンドルネームとともにサイト上またはPHPerKaigi本篇において開示されることがあります。</li>
	</ol>
	<h2 id="privacy_policy">プライバシーポリシー</h2>
	<ol>
		<li>PHPerKaigi 2020 実行委員会(以下「運営者」といいます)は「PHPer Code Golf by pixiv」(以下「当サイト」といいます)の利用者のプライバシーを尊重し、参加者の個人情報の管理に細心の注意を払うものとします。</li>
		<li>「個人情報」とは、個人に関する情報であって、氏名、住所、生年月日、年齢、性別、住所、電話番号、家族構成、電子メールアドレス、ID、IPアドレス、勤務先、所属、勤務先住所、勤務先電話番号、クレジットカード番号、銀行口座番号、訪れたホームページの情報、苦情、ご相談またはお問い合せの情報等であって、これらのうちの1つあるいは2つ以上を組み合せることによって、特定の個人を識別できるものを指します。</li>
		<li>運営者は参加者が当サイトを利用することで取得した個人情報を次の目的のために利用します。
			<ol>
				<li>優秀作品とその投稿者をPHPerKaigiで表彰するため
					<ul>
						<li>この目的のためにハンドルネームおよびforteeアカウントを取得しています</li>
					</ul>
				</li>
				<li>当サイトの利用規約に違反する利用形態を把握し、防止するため
					<ul>
						<li>この目的のために参加登録時およびコード投稿時のIPアドレスを記録しています</li>
					</ul>
				</li>
			</ol>
		</li>
	</ol>

	{% if not session.isAcceptedTerms %}
		<h2 id="agreement">規約に同意してプレー開始</h2>
		<form method="post">
			<fieldset>
				<legend>参加登録</legend>
				<p>
					<label>
						アカウント名 (半角アルファベットと数字、ハイフンが利用可能です)<br>
						<a href="https://fortee.jp/">fortee</a>アカウントを持っている場合は同じにしてください
						{% if error.fortee_name_duplicate %}
							<em class="input-error">このアカウント名は登録済みです。</em>
						{% endif %}
						<input type="text" name="fortee_name" required pattern="[-a-z0-9]+" maxlength="255" value="{{input.fortee_name}}">
					</label>
				</p>
				<p>
					<label>
						ハンドルネーム (表示される名前)
						<input type="text" name="display_name" required maxlength="255" value="{{input.display_name}}">
					</label>
				</p>
				<p>
					<label>
						<input type="checkbox" name="agree" value="yes" {% if input.agree %}checked{% endif %} required>
						利用規約とプライバシーポリシーに同意しました
						{% if error.agree %}
							<em class="input-error">同意する場合はチェックを入れてください</em>
						{% endif %}
					</label>
				</p>
				<p>
					<label>
						PHPerKaigi 2020の会場名を<mark>カタカナ4文字</mark>で入力してください
						{% if error.place %}
							<em class="input-error">会場の名前を正しく入力してください</em>
						{% endif %}
						<input type="text" name="place" value="{{input.place}}" required pattern="ココネリ">
					</label>
				</p>

				<div style="text-align: center;">
					<button type="submit">🏌 同意してプレー開始する 🏌️‍♀️</button>
				</div>
			</fieldset>
		</form>
		<p>既に参加登録済みであれば<a href="{{ route('login') }}">ログイン</a>できます</p>
	{% else %}
		<h2 id="agreement">同意状態</h2>
		<p>あなたは既に #利用規約 と #プライバシーポリシー に同意しています。</p>
		<div style="text-align: center;">
			<a href="{{ route('index') }}"><button type="button">🏌️‍♀️ PHPer Code Golfをプレーする 🏌</button></a>
		</div>
	{% endif %}
{% endblock %}
